# Google GenAI API Key (Get this from Google AI Studio)
GOOGLE_GENAI_API_KEY=your_api_key_here

# Firebase Public Configuration
# These are safe to include in your .env.example as they are public identifiers.
NEXT_PUBLIC_FIREBASE_PROJECT_ID=studio-6665494198-66e95
NEXT_PUBLIC_FIREBASE_APP_ID=1:358651793900:web:ed70e7bc64d645d49630c9
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDfp9kenct5QvzTmcgY8E_8-crLvx7Nw7g
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=studio-6665494198-66e95.firebaseapp.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=358651793900
